/* color */
$primary-color: #8746ff;
$secondary-color: #bda2f1;
$third-color: #f9f8ff;
$app-background-color: #f4f4f4;
$background-color: white;
$hover-background-color: ghostwhite;
$text-color: #333333;
$hint-text-color: #666666;
$box-shadow: 2px 4px 8px 0px rgba(142, 142, 142, 0.2);

/* size */
$border-radius: 0.75rem;
